$color-primary: #450a28;
$color-primary-light: #ff575a;
$color-secondary: #d1e0f0;
$color-secondary-dark: #0b1d2e;
$color-grey-light: #faf7f2;

// $colors:
// #274B97
// #41337A
// #6EA4BF
// #C2EFEB
// #ECFEE8
// #9DB3DC
// #295099
// #383224
// #AB8A71