.brands {
    background-color: $color-tertiary;
    padding: 1rem 10vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    @include respond(tab-port) {
        grid-template-columns: none;
    }

    &__card {
        padding: 4rem;
        text-align: center;
    }

    &__logo {
        width: 8rem;
        margin-bottom: 1rem;
    }

    &__text {
        font-size: 1.4rem;
    }
}
