.mb-lg {
    margin-bottom: 10rem;
}

.mb-md {
    margin-bottom: 5rem;
}

.mb-sm {
    margin-bottom: 2rem;
}

.mt-lg {
    margin-top: 10rem;
}

.mt-md {
    margin-top: 5rem;
}

.mt-sm {
    margin-top: 2rem;
}

.center-text {
    text-align: center;
}