.mb-hg {
    margin-bottom: 10rem;
}

.mb-lg {
    margin-bottom: 6rem;
}
.mb-md {
    margin-bottom: 4rem;
}
.mb-sm {
    margin-bottom: 2rem;
}

.mb-xs {
    margin-bottom: 1rem;
}

.mr-auto {
    margin-right: auto;
}

.mt-hg {
    margin-top: 10rem;
}

.mt-lg {
    margin-top: 6rem;
}
.mt-md {
    margin-top: 4rem;
}
.mt-sm {
    margin-top: 2rem;
}

.mt-xs {
    margin-top: 1rem;
}

.as-stretch {
    align-self: stretch;
}

.fullwidth {
    width: 100%;
}
