.skills {
    display: grid;
    justify-items: center;
    &__grid {
        width: 30%;
        display: grid;
        gap: 2rem 4rem;
        grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
    }
}