.photo-belt {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    & > * {
        // border: 1rem solid $color-secondary;
        border-width: 1rem 0.5rem 1rem 0.5rem;
        border-style: solid;
        border-color: $color-secondary;
    }

    @include respond(tab-port) {
        grid-template-columns: none;
        grid-template-rows: repeat(5, 1fr);

        & > * {
            // border: 1rem solid $color-secondary;
            border-width: 1rem ;
            border-style: solid;
            border-color: $color-secondary;
        }
    }

    &__photo {
        width: 100%;
    }

    &__info {
        background-color: $color-primary;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__heading {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}
