$color-primary: #4069ee;
$color-primary-light: #42affc;
$color-dark: #20232a;
$color-dark-2: #161a1d;
$color-white: #f8f9fa;
$color-black: #000000;
$color-grey: #8892b0;

$font-headings:'Poppins',
sans-serif;
$font-body: 'Heebo',
sans-serif;