.btn {
    text-transform: uppercase;
    font-size: 1.5rem;
    background-color: $color-primary;
    color: $color-white;
    font-family: $font-headings;
    padding: 0.4em 4em;
    border-radius: 5px;
    font-weight: 700;
    transition: transform 0.2s ease-in;
    &:hover{
        transform: scale(1.1);
    }

    &--small{
        font-size:  clamp(1rem, 0.8vw, 1.6rem);
        padding: 0.4em 3em;
    }

    &--link {
        text-align: center;
        display: block;
        text-decoration: none;

    }
}