.horizontal-menu {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;
    border-left: 1px solid $color-grey;

    @include respond(tab-port){
        flex-direction: row;
        border-left: none;
        border-bottom: 1px solid $color-grey;
        justify-content: center;
    }

    &>button {
        background-color: transparent;
        border: none;
        color: $color-grey;
        font-weight: 300;
        font-size: 2.4rem;
        cursor: pointer;
        position: relative;
        padding: 0.5em 1em;
    }

    &__btn.active {
        color: $color-primary;
        &::before {
            content: "";
            width: 5px;
            height: 100%;
            background-color: $color-primary;
            position: absolute;
            top: 0;
            left: -3px;

            @include respond(tab-port){
                left: 0;
                top: 97%;
                width: 100%;
                height: 5px;
            }
        }
    }
}