.activity-card {
    border: 1px solid $color-primary;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: start;
    padding: 5rem;

    &__img {
        width: 6rem;

        @include respond(tab-port) {
            justify-self: center;
            align-self: center;
        }
    }

    &__paragraph {
        margin-top: 2rem;
        font-size: 1.6rem;
    }
}
