.stat {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding: 4rem;
    border: 1px solid $color-primary;

    &__icon {
        justify-self: end;
        width: 10rem;
    }

    &__content {
    }

    &__heading {
        font-size: 4rem;
    }

    &__text {
        font-size: 1.8rem;
    }
}
