$color-primary: #00b4d8;
$color-primary-light: #48cae4;
$color-dark: #012a4a;
$color-dark-2: #022b3a;
$color-dark-3: #2a6f97;
$color-grey-light: #e9ecef;
$color-white: #fffdf7;
$color-turquoise: #64dfdf;